<h1 class="title">
  F.A.Q.
</h1>

<ul class="faq-list">
  <li class="faq-item">
    <h2 class="faq-question">
      What does it do?
    </h2>
    <p class="faq-answer">
      Mr MovieBot recommends great movies near you over SMS.
    </p>
    <p class="faq-answer">
      We include short summaries of movies that are totally "useful" and "not" made up by a robot to help you figure out if it's to your taste.
    </p>
  </li>
  
  <li class="faq-item">
    <h2 class="faq-question">
      How does it work?
    </h2>
    <p class="faq-answer">
      Mr MovieBot ingests IMDB movie data using Advanced Technology™.
    </p>
    <p class="faq-answer">
      We pass the data to TensorFlow to form a 1024 node recurrent neural network. This helps us curate "perfect" movie summaries just for you.
    </p>
    <p class="faq-answer">
      Finally, we deliver a SMS that tells you where and when the movie is showing, along with the curated summary.
    </p>
  </li>

  <li class="faq-item">
    <h2 class="faq-question">
      Why though?
    </h2>
    <p class="faq-answer">
      The technology exists, therefore we must do it.
    </p>
  </li>

</ul>